src/main/mule/mule-jenkins-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<configuration-properties
		file="common.yaml" doc:name="Common Config Props" />

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4f7bdf4f-dbd8-4153-b750-76b35320405c" basePath="${http.basePath}">
		<http:listener-connection host="0.0.0.0" port="${http.port}" readTimeout="${http.request.timeout}"/>
	</http:listener-config>
	<flow name="mule-maven-demoFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/hello" doc:name="HTTP"/>
        <set-payload value="#['Hello from Mule']" mimeType="text/plain" doc:name="Set Payload"/>
    </flow>
</mule>
